
hw3.pdf
PYTHON/Task3_3.py
PYTHON/Task3_2.py
PYTHON/Task3_1.py
PYTHON/data33.mat
PYTHON/data32.mat
PYTHON/.idea/PYTHON.iml
PYTHON/.idea/other.xml
PYTHON/.idea/modules.xml
PYTHON/.idea/misc.xml
PYTHON/.idea/inspectionProfiles/Project_Default.xml
PYTHON/.idea/inspectionProfiles/profiles_settings.xml
Μουστακίδης 3.docx
